section.display {
    background-color: #eeeeee;
}

ol {
    padding: 0;
}

ol li {
    background-color: white;
    list-style: decimal inside;
    width: 200px;
    height: 80px;
    margin: 1em;
    border: 4px solid #ddd;
    border-radius: 3px;
    position: relative;
}

ol li:hover {
    border-color: teal;
}

ol li .position {
    background-color: grey;
    color: white;
    padding: 5px;
    grid-area: sidebar;
    justify-self: stretch;
    text-align: center;
}

ol li.first-five .position {
    background-color: black;
}

ol li:hover .position {
    background-color: teal;
}

ol li .name {
    grid-area: skill;
    padding: 5px;
}

ol li .experience {
    grid-area: experience;
    padding: 0 1em;
    color: grey;
    font-size: .8em;
}

.display .grid {
    display: inline-grid;
    justify-content: stretch;
    grid-template-columns: 25px auto;
    grid-template-areas:
        "sidebar skill"
        "sidebar experience";
}

button.onHoverDelete {
    display: none;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 1.2em;
    border: none;
    color: grey;
    font-weight: bold;
    cursor: pointer;
}

ol li:hover button.onHoverDelete {
    display: unset;
}

@media only screen and (max-width: 800px) {
    section.display {
        margin-top: -1em;
    }

    ol li {
        width: calc(100% - 2em);
    }

    button.onHoverDelete {
        display: unset;
        top:50%;
        transform: translateY(-.8em);
        background-color: white;
    }
}
